@charset "utf-8";

body{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 130px;
  background-color: black;
}

.title {
  color: white;
}

.nav1 {
  display: flex;
  align-items: flex-end;
}

.nav2{
  display: flex;
}



li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.c1 {
  margin-left: 30px;
  margin-right: auto;
}

.c2{
  margin-left: auto;
  margin-right: auto;
}


article{
  align-items: center;
}
