@charset "utf-8";

body{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 130px;
  background-color: black;
}

.title {
  color: white;
}

.nav1 {
  display: flex;
  align-items: flex-end;
}

.nav2{
  display: flex;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.c1 {
  margin-left: auto;
  margin-right: 30px;
}

.c2{
  margin-left: auto;
  margin-right: auto;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

img{
  border-radius: 50%;
  border: 1px solid black;
  width:150px;
  height: 150px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
}

button {
  background-color: black;
  width: 100px;
  height: 50px;
}


footer{
  width: 100vw;
  height: 50px;
  background-color: black;
}

.hna{
  color: black;
  text-decoration: none;
}
